<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>DispatchFilter</filter-name>
        <filter-class>tiennh.filter.DispatchFilter</filter-class>
    </filter>
    <filter>
        <filter-name>MustAuthenFilter</filter-name>
        <filter-class>tiennh.filter.MustAuthenFilter</filter-class>
    </filter>
    <filter>
        <filter-name>NoAuthenFilter</filter-name>
        <filter-class>tiennh.filter.NoAuthenFilter</filter-class>
    </filter>
    <filter>
        <filter-name>MustAdminFilter</filter-name>
        <filter-class>tiennh.filter.MustAdminFilter</filter-class>
    </filter>
    <filter>
        <filter-name>NoAdminFilter</filter-name>
        <filter-class>tiennh.filter.NoAdminFilter</filter-class>
    </filter>
    <filter>
        <filter-name>CanAuthenFilter</filter-name>
        <filter-class>tiennh.filter.CanAuthenFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CanAuthenFilter</filter-name>
        <url-pattern>/</url-pattern>
        <url-pattern>/store</url-pattern>
        <url-pattern>/storePage</url-pattern>
        <url-pattern>/addItem</url-pattern>
        <url-pattern>/removeItem</url-pattern>
        <url-pattern>/viewCart</url-pattern>
        <url-pattern>/checkout</url-pattern>
        <url-pattern>/checkoutValid</url-pattern>
        <url-pattern>/confirmCheckout</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>MustAuthenFilter</filter-name>
        <url-pattern>/create</url-pattern>
        <url-pattern>/viewOrder</url-pattern>
        <url-pattern>/viewOrderPage</url-pattern>
        <url-pattern>/getOrder</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>NoAuthenFilter</filter-name>
        <url-pattern>/login</url-pattern>
        <url-pattern>/loginForm</url-pattern>
        <url-pattern>/loginInvalid</url-pattern>
        <url-pattern>/register</url-pattern>
        <url-pattern>/registerValid</url-pattern>
        <url-pattern>/registerForm</url-pattern>
        <url-pattern>/registerError</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>MustAdminFilter</filter-name>
        <url-pattern>/create</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>NoAdminFilter</filter-name>
        <url-pattern>/addItem</url-pattern>
        <url-pattern>/removeItem</url-pattern>
        <url-pattern>/viewCart</url-pattern>
        <url-pattern>/checkout</url-pattern>
        <url-pattern>/checkoutValid</url-pattern>
        <url-pattern>/confirmCheckout</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DispatchFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>tiennh.listener.AsgnServletListener</listener-class>
    </listener>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>tiennh.listener.CategoryTableInit</listener-class>
    </listener>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>tiennh.listener.ImgAddressInit</listener-class>
    </listener>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>tiennh.listener.PriceRangeInit</listener-class>
    </listener>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>tiennh.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>tiennh.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>tiennh.servlet.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServlet</servlet-name>
        <servlet-class>tiennh.servlet.UpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StoreServlet</servlet-name>
        <servlet-class>tiennh.servlet.StoreServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddItemServlet</servlet-name>
        <servlet-class>tiennh.servlet.AddItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCartServlet</servlet-name>
        <servlet-class>tiennh.servlet.ViewCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveItemServlet</servlet-name>
        <servlet-class>tiennh.servlet.RemoveItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>tiennh.servlet.CheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmCheckoutServlet</servlet-name>
        <servlet-class>tiennh.servlet.ConfirmCheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateServlet</servlet-name>
        <servlet-class>tiennh.servlet.CreateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetItemServlet</servlet-name>
        <servlet-class>tiennh.servlet.GetItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuantityServlet</servlet-name>
        <servlet-class>tiennh.servlet.QuantityServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddressServlet</servlet-name>
        <servlet-class>tiennh.servlet.AddressServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetupCheckoutServlet</servlet-name>
        <servlet-class>tiennh.servlet.SetupCheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOrderServlet</servlet-name>
        <servlet-class>tiennh.servlet.ViewOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetOrderServlet</servlet-name>
        <servlet-class>tiennh.servlet.GetOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaginationServlet</servlet-name>
        <servlet-class>tiennh.servlet.PaginationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GoogleOAuthServlet</servlet-name>
        <servlet-class>tiennh.servlet.GoogleOAuthServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServlet</servlet-name>
        <url-pattern>/UpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StoreServlet</servlet-name>
        <url-pattern>/StoreServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddItemServlet</servlet-name>
        <url-pattern>/AddItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCartServlet</servlet-name>
        <url-pattern>/ViewCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveItemServlet</servlet-name>
        <url-pattern>/RemoveItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/CheckoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmCheckoutServlet</servlet-name>
        <url-pattern>/ConfirmCheckoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateServlet</servlet-name>
        <url-pattern>/CreateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetItemServlet</servlet-name>
        <url-pattern>/GetItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuantityServlet</servlet-name>
        <url-pattern>/QuantityServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddressServlet</servlet-name>
        <url-pattern>/AddressServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetupCheckoutServlet</servlet-name>
        <url-pattern>/SetupCheckoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOrderServlet</servlet-name>
        <url-pattern>/ViewOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetOrderServlet</servlet-name>
        <url-pattern>/GetOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaginationServlet</servlet-name>
        <url-pattern>/PaginationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GoogleOAuthServlet</servlet-name>
        <url-pattern>/GoogleOAuthServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            8
        </session-timeout>
    </session-config>
    <resource-ref>
        <res-ref-name>labDB</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
