*{
    margin:0;
    padding:0;
}

.container{
    position:relative;
    display:flex;
    align-items:flex-start;
    justify-content: center;
}
.content{
    background-color:white;
    padding:2.5em .5em 2.5em .5em;
    width:90vw;
    display: inline-block;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}
#welcome-msg{
    font-weight:100;
    font-size:3rem;
}
#welcome-name{
    font-weight:900;
    color:rgb(2, 117, 216);
}
#welcome-container{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.div-item-list{
    display: flex;
    flex-wrap: wrap;
}

.store-link{
    transition: .2s ease;
    font-weight:900;
    color:rgb(240, 173, 78);
    font-size:3.25rem;
    text-decoration: none !important;
}
.store-link:hover{
    transition: .2s ease;
    color:rgb(240, 163, 68);
}
.product-item{
    transition: .1s ease;
    position:relative;
    width:20%;
    margin:5% 2.5% 0 2.5%;
    padding:0 1.5% 2.5% 1.5%;
    height:30%;
    display:grid;
    overflow:hidden;
}
.cake-img-container{
    transition: .1s ease;
    overflow:hidden;
}
.product-item:hover{
    transition: .1s ease;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}
img {
    transition: .75s ease;;
    width:100%;
    height:100%;
    object-fit: cover;
}
.cake-info-container{
    display:flex;
    align-items:flex-start;
    justify-content: center;
}
.cake-info-content{
    min-width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}
.div-cake-name{
    text-transform:capitalize;
    font-size: 1rem;
}

.toast{
    background-color:rgb(250,250,250);
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}
.toast-hide{
    display:none;
}
.toast-header{
    background-color:rgb(240,240,240);
    display:flex;
    color:rgb(100,100,100);
    border-color: rgb(200,200,200);
    border-style:solid;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-width:2px;
    padding: .5rem 1rem;
    align-items: flex-start;
}
.toast-body{
    display:flex;
    border-color: rgb(200,200,200);
    border-style:solid;
    border-width:2px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-style: none;
    padding: .5rem 1rem;
    align-items: flex-start;
}

.toast-valid{
    border-color: #28A745;
    color: #28A745;
}
.toast-invalid{
    border-color: #d9534f;
    color:#d9534f;
}

.panel-body{
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content: flex-start;
}

.panel-title{
    display:flex;
    align-items: center;
    justify-content: center;
    transition: .1s ease;
    background-color:rgb(250,250,250);
    cursor:pointer;
    font-size:1.5rem;
    padding:.25rem .4rem !important;
    border-bottom-style: solid;
    border-width:2px;
    border-color: rgb(70,70,70);
    padding: 1rem;
    color:rgb(50,50,50);
    max-width:10vw;
}
.panel-title:hover{
    transition: .1s ease;
    background-color:rgb(247,247,247);
}

.empty-item{
    background-color:rgba(240, 173, 78,.25);
}
.sliderValue{
    display:inline-block;
    width:4vw;
    outline:none;
    border-width:1px;
    border-radius:3px;
    background-color:rgb(247,247,247);
}
#div-search-result .btn{
    width:100%;
    height:100%;
}
#store-header .btn{
    padding: .3rem 1rem;
    border-radius:2px;
    min-width:6.5vw;
}

.slider-fix{
    display:flex;
    align-items:center;
    justify-content: flex-start;
}

